.board{
    border:5px solid black;
    display: grid;
    /* make 8 squares in a row\column */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square.odd {
    background: gray;
    color: honeydew;
}

.square {
    border: black solid 1px;
    font-size: 2vmin;
}